mat-card{
    width: 500px;
}

h1{
    font-weight: 500;
    font-size: 40px;
}

#login-box{
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    margin-top: 10px;
    width: 100%;
}