<app-navbar [Drawer]="drawer"></app-navbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-list>
      <mat-list-item *ngIf="isAuth" role="listitem" routerLink="tarefas" (click)="drawer.toggle()">
          <mat-icon aria-hidden="false" fontIcon="task_alt"></mat-icon>
          <span>Tarefas</span>
      </mat-list-item>

      <mat-list-item *ngIf="!isAuth" role="listitem" routerLink="login" (click)="drawer.toggle()">
        <mat-icon aria-hidden="false" fontIcon="login"></mat-icon>
        <span>Login</span>
    </mat-list-item>
    </mat-list>
  </mat-drawer>
  
  <div class="example-sidenav-content">
        <router-outlet></router-outlet>
  </div>
  
</mat-drawer-container>