html, body{
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

mat-card{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 3rem;
    margin-top: 5rem;
}

.input-box{
    width: 500px;
}

mat-form-field{
    width: 100%;

}

.btn-box{
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-box button{
    width: 50%;
}